{% extends 'base.html' %}

{% block header %}
{% block title %}
Availability
{% endblock %}
{% endblock %}

{% block content %}
<div id="day-schedule" align="center"></div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/static/assets/js/availability.js"></script>
<script>
    var fuckJS = null;
    (function ($) {
        var day = $('#day-schedule');
        fuckJS = day.dayScheduleSelector({
            days: [0, 1, 2, 3, 4],
            interval: 60,
            startTime: '08:00',
            endTime: '20:00'
        });
        {#var data = day.data('artsy.dayScheduleSelector').serialize();#}
        fuckJS = fuckJS.data('artsy.dayScheduleSelector');
        day.on('selected.artsy.dayScheduleSelector', function (e, selected) {
            console.log(selected);
        });
        $.ajax({
            type: "GET",
            url: "/api/user/" + {{ current_user.get_id() }} + "/availability",
            success: function(retrieved) {
                console.log(retrieved);
                day.data('artsy.dayScheduleSelector').deserialize(retrieved);
            }
        });
    })($);
</script>

<p></p>
<div align="center">
    <input type="button" onclick="send()" value="Done" align="center"/>
</div>

<script>
    function send() {
        var data = fuckJS.serialize();
        var days = {'0': 'Mon', '1': 'Tue', '2': 'Wed', '3': 'Thu', '4': 'Fri', '5': 'Sat', '6': 'Sun'};
        for (var entry in data) {
            var day = days[entry];
            for (var p in data[entry]) {
                var period = data[entry][p];
                console.log(period);
                var time = period[0];
                var type = period[1];
                $.ajax({
                    type: "POST",
                    url: "/api/user/" + {{ current_user.get_id() }} + "/availability",
                    data: {day: day, start: time, type: type}
                });
            }
        }
    }
</script>
{% endblock %}