{% extends 'base.html' %}

{% block header %}
    {% block title %}
        Availability
    {% endblock %}
{% endblock %}

{% block content %}
<div id="day-schedule" align="center"></div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/static/assets/js/availability.js"></script>
  <script>
    (function ($) {
      var day = $('#day-schedule');
      day.dayScheduleSelector({
        days: [0, 1, 2, 3, 4],
        interval: 60,
        startTime: '08:00',
        endTime: '21:00'
      });
      day.on('selected.artsy.dayScheduleSelector', function (e, selected) {
        console.log(selected);
      });
      day.data('artsy.dayScheduleSelector').deserialize({
      });
    })($);
  </script>

<p></p>
<div align="center">
    <input type="button" onclick="send()" value="Done" align="center"/>
</div>

<script>
function send() {
    var id = 42;
    var data = $('#day-schedule').data('artsy.dayScheduleSelector').serialize();
    var days = {'0': 'Mon', '1': 'Tue', '2': 'Wed', '3': 'Thu', '4': 'Fri', '5': 'Sat', '6': 'Sun'};
    for (var entry in data) {
        var day = days[entry];
        for (var period in data[entry]) {
            var start = period[0];
            var end = period[1];
            $.ajax({
                type: "POST",
                url: "/api/user/" + id + "/availability",
                data: {day: day, start: start, end: end}
            });
        }
    }
}
</script>
{% endblock %}