{% extends 'base.html' %}

{% block header %}
    {% block title %}
        New Allocation
    {% endblock %}
{% endblock %}



{% block content %}
<div class="inner">

    <form action="#" method="post">

        <div class="field half first">
            <label for="name">Your Name</label>
            <input name="name" id="name" type="text" placeholder="Name">
        </div>
        <div class="field half">
            <label for="email">Your Email</label>
            <input name="email" id="email" type="email" placeholder="Email">
        </div>
        <div class="field">
            <label for="message">Enter tutor emails (one line at a time)</label>
            <textarea name="message" id="message" rows="6" placeholder="Tutors"></textarea>
        </div>
        <ul class="actions">
            <li><a href="/times" class="button alt">New Allocation</a></li>
        </ul>
    </form>

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>

{% endblock %}