{% extends 'base.html' %}

{% block header %}
    {% block title %}
        New Allocation
    {% endblock %}
{% endblock %}



{% block content %}
<div class="inner">

    <form action="#" method="post">

        <div class="field half first">
            <label for="name">Your Name</label>
            <input name="name" id="name" type="text" placeholder="Name">
        </div>
        <div class="field half">
            <label for="email">Your Email</label>
            <input name="email" id="email" type="email" placeholder="Email">
        </div>
        <div class="field">
            <label for="message">Enter tutor emails (one line at a time)</label>
            <textarea name="message" id="message" rows="6" placeholder="Tutors"></textarea>
        </div>

        <div id="allocform">
            <div class="class-box">
            <div class="field quater first">
                <label for="name">Class Name</label>
                <input name="name" id="name" type="text" placeholder="Class">
            </div>
            <div class="field quater first">
                <label for="email">Weekday</label>
                <select name="day" id="day">
                    <option selected disabled>Weekday</option>
                    <option value="mon">Mon</option>
                    <option value="tue">Tue</option>
                    <option value="wed">Wed</option>
                    <option value="thu">Thu</option>
                    <option value="fri">Fri</option>
                </select>
            </div>
            <div class="field quater first">
                <label for="email">Start Time</label>
                <select name="start" id="start">
                    <option selected disabled>Start</option>
                    <option value="mon">8:00</option>
                    <option value="tue">9:00</option>
                    <option value="wed">10:00</option>
                    <option value="thu">11:00</option>
                    <option value="fri">12:00</option>
                    <option value="fri">13:00</option>
                    <option value="fri">14:00</option>
                    <option value="fri">15:00</option>
                    <option value="fri">16:00</option>
                    <option value="fri">17:00</option>
                    <option value="fri">18:00</option>
                    <option value="fri">19:00</option>
                    <option value="fri">20:00</option>
                </select>
            </div>
            <div class="field quater">
                <label for="message">End Time</label>
                <select name="end" id="end">
                    <option selected disabled>End</option>
                    <option value="mon">8:00</option>
                    <option value="tue">9:00</option>
                    <option value="wed">10:00</option>
                    <option value="thu">11:00</option>
                    <option value="fri">12:00</option>
                    <option value="fri">13:00</option>
                    <option value="fri">14:00</option>
                    <option value="fri">15:00</option>
                    <option value="fri">16:00</option>
                    <option value="fri">17:00</option>
                    <option value="fri">18:00</option>
                    <option value="fri">19:00</option>
                    <option value="fri">20:00</option>
                </select>
            </div>
        </div>
        </div>
        <div align="right">
            <input value="Add class" id="addrow" class="button" type="button">
        </div>
        <center><input value="Submit" id="runall" class="button big" type="button"></center>
    </form>

    <div id="resultarea">

    </div>

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/frm.js"></script>

<script>

</script>

{% endblock %}