<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>realloc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>realloc</strong> by BLEH</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="elements.html">Tutor Portal</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			<footer id="footer">
				<div class="inner">

					<h3>New Allocation </h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Your Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Your Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Enter tutor emails (one line at a time)</label>
							<textarea name="message" id="message" rows="6" placeholder="Tutors"></textarea>
						</div>
						<ul class="actions">
							<li><a href="/times" class="button alt">New Allocation</a></li>
						</ul>
					</form>

				</div>
			</footer> 

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>