{% extends 'landing.html' %}

{% block header %}
    {% block title %}
        Signup
    {% endblock %}
{% endblock %}

{% block content %}

<section id="banner">
    <div class="inner">
        <header>
            <h1>realloc</h1>
        </header>

        <div class="flex">

            <div>
                <h3>Co-ordinator</h3>
                <p>Create optimal allocations for your tutors</p>
                <br>
                <a href="/coordinator" class="button">New Allocation</a>
            </div>

            <div>
                <h3>Tutor</h3>
                <p>Enter your availability to aid tutoring allocations</p>
                <br>
                <a href="#" class="button">Tutor Portal</a>
            </div>

        </div>

    </div>
</section>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

{% endblock %}
