{% extends 'landing.html' %}

{% block header %}
    {% block title %}
        Signup
    {% endblock %}
{% endblock %}

{% block content %}
<section id="banner">
    <div class="inner">
        <div class="flex flex-2">
            <form method="post" action="/api/login">
                <header>
                    <h3>Login</h3>
                </header>
                <input type="hidden" id="next" name="next" value="{{ next }}">
                <div class="field">
                    <input name="email" id="email" type="text" placeholder="Email">
                </div>
                <div class="field">
                    <input name="password" id="password" type="password" placeholder="Password">
                </div>
                <footer>
                    <input type="submit" class="button" />
                </footer>
            </form>
            <form method="post" action="/api/signup">
                <header>
                    <h3>Signup</h3>
                </header>
                <input type="hidden" id="next" name="next" value="{{ next }}">
                <div class="field">
                    <input name="email" id="email" type="email" placeholder="Email">
                </div>
                <div class="field">
                    <input name="password" id="password" type="password" placeholder="Password">
                </div>
                <div class="field">
                    <input name="password2" id="password2" type="password" placeholder="Confirm Password">
                </div>
                <footer>
                    <input type="submit" class="button" />
                </footer>
            </form>
        </div>
    </div>
</section>
{% endblock %}